
<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">

	<h3>Test for commit without image</h3>
	<form method="post" class="validate" enctype="application/json">
		<!-- <input type="hidden" id="questionID" name="questionID" value="" />
        <input type="hidden" id="tranRemoveOptions" name="removeOptions" value="" />
        <textarea name="strText" class="form-control" rows="10" id="strText" aria-required="true"></textarea> -->
	    
	    <input type="text" name="message" value="" />

	    <button type="submit" class="btn btn-primary">儲存</button>
	</form>

	<br/>
	<h3>Test for commit with image</h3>
	<form method="post" class="validate" enctype="application/json">
		<input type="hidden" name="filename" value="<%= filename %>">
		<input type="hidden" name="base64String" value="<%= base64 %>">
		<input type="hidden" name="mediaType" value="<%= type %>">

		<img src="data:<%= type %>;base64,<%= base64 %>" />

		<input type="text" name="message" value="test with image"/>

		<button type="submit" class="btn btn-primary">Save</button>
	</form>

</body>
</html>
