
<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">

	<h3>Test for commit without image</h3>
	<form method="post" class="validate" enctype="application/json" action="/testpush/commit/add">
		<!-- <input type="hidden" id="questionID" name="questionID" value="" />
        <input type="hidden" id="tranRemoveOptions" name="removeOptions" value="" />
        <textarea name="strText" class="form-control" rows="10" id="strText" aria-required="true"></textarea> -->
	    
	    <input type="text" name="message" value="" />

	    <button type="submit" class="btn btn-primary">儲存</button>
	</form>

	<br/>
	<h3>Test for commit with image</h3>
	<form method="post" class="validate" enctype="application/json" action="/testpush/commit/add">
		<input type="hidden" name="filename" value="<%= filename %>">
		<input type="hidden" name="base64String" value="<%= base64 %>">
		<input type="hidden" name="mediaType" value="<%= type %>">

		<img src="data:<%= type %>;base64,<%= base64 %>" />

		<input type="text" name="message" value="test with image"/>

		<button type="submit" class="btn btn-primary">Save</button>
	</form>


	<br/>
	<h3>Test for add project</h3>
	<form method="post" class="validate" enctype="application/json" action="/testpush/project/add">
		name<input type="text" name="name" />
		description<input type="text" name="description" />
		license<input type="text" name="license" />
		<button type="submit" class="btn btn-primary">Save</button>
	</form>

	<br/>
	<h4>Test for commit array</h4>
	<button id="testpush">To Push</button>
	<script type="text/javascript">
		$("#testpush").click(function(){

			var requestData = {
				items: [
					{
						message: "test1",
						components: [{"name":"hook","quantity":2,"point":[23,25,100,200]},{"name":"hamer","quantity":1,"point":[66,45,150,40]}],
						machines: ["shit","damn"],
						repos: "https://github.com/FablabTaipei/FabDoc-RPi-client",
						note: "test",
						image: {
							filename: '<%= filename %>',
							base64String: '<%= base64 %>',
							mediaType: '<%= type %>'
						}
					},
					{
						message: "test2",
						components: [{"name":"hook","quantity":2,"point":[23,25,100,200]},{"name":"hamer","quantity":1,"point":[66,45,150,40]}],
						machines: ["shit","damn"],
						repos: "https://github.com/FablabTaipei/FabDoc-RPi-client",
						note: "test",
						image: {
							filename: '<%= filename %>',
							base64String: '<%= base64 %>',
							mediaType: '<%= type %>'
						}
					}
				]
			};

			var sData = JSON.stringify(requestData);

            $.ajax({
                url: '/project/1/commits',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: sData,
                success: function (response) {
                	if(response.status == "OK"){
                		// OK
                	}else{
                		console.log(response.error);
                	}
                },
                error: function (response) {
                	console.log(response);
                }
            });
		});
	</script>
</body>
</html>
